<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <textarea id="isThisBullshit"></textarea>
    <button onclick="highlightBullshit">Check</button>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"
        integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bs.js') }}"></script>
<link href="{{ url_for('static', filename='highlight/jquery.highlight-within-textarea.css') }}" rel="stylesheet"/>
<script src="{{ url_for('static', filename='highlight/jquery.highlight-within-textarea.js') }}"></script>
<script src="{{ url_for('static', filename='bspage.js') }}" ></script>
</html>
